@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;;
    margin : 0;
    padding : 0;
}
a{
    text-decoration: none;
}
.header-area{
    background-color: #F0FFF0;
    background-size: cover;
    background-position: center;
}
.header-top{
    padding: 20px;
}
.header-top img{
    width: 200px;
    height: auto;
}
.navbar-light .navbar-nav .nav-link{
    color: black;
    font-size: 16px;
}
.header-top .nav-item{
    padding: 15px;
}
.header-top .navbar .signin {
    background-color: #21B573;
    padding: 12px 28px;
    border-radius: 33px;
}
.header-top .navbar .signin a{
    color: #fff;
}


.header-bottom{
    padding-top: 30px;
    padding-bottom: 65px;
}
.banner-img img{
    width: 100%;
    height: auto;
}
.banner-text{
    padding: 30px 0;
}
.clr-green{
    color: #21B573;
}
.banner-text h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 70px;
}
.banner-text p{
    color: #6C6B6B;
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
    line-height: 36px;
}
.banner-text p:first-child{
    color: red;
    padding: 0;
}
.banner-text a{
    color: #ffff;
    background-color: #21B573 ;
    padding: 12px 36px;
    border-radius: 33px;
}
.catagories{
    padding: 42px 0;
}
.catagories img{
    width: 100%;
    height: 100%;
}
.cat-1{
    width: 66px;
    height: 85px;
    margin: 0 auto;
}
.cat-2{
    width: 80px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 5px;
}
.cat-3{
    width: 75px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 7px;
}
.cat-4{
    width: 60px;
    height: 85px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.catagories .card{
    width: 270px;
    height: 270px;
    border: none;
    padding: 50px 0;
    background-color: #F8FFFB;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 20px;
    transition: .5s;
}
.catagories .card:hover{
    background-color: #ffff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.courses h2{
    font-size: 36px;
    color: black;
    font-weight: 700;
}
.courses{
    padding: 60px 0;
}
.courses .card{
    padding: 25px 20px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.courses .card-body .buy-c{
    padding: 8px 28px;
    background-color: #21B573;
    border-radius: 33px;
    display: inline-block;
}
.courses .card-body .buy-c a{
    color: #fff;
}
.courses .card-body .card-text{
    margin-bottom: 20px;
}
.courses .card-footer img{
    width: 24px;
    height: 24px;
}
.courses .card-footer{
    background: none;
    border-top: none;
}
.courses-card{
    padding: 60px 0;
}
.testimonial h2{
    font-size: 36px;
    color: black;
    font-weight: 700;
}
.testimonial .row{
    padding: 70px;
}
.testimonial img{
    width: 120px;
    height: 120px;
}
.testimonial .col-md-8{
    padding: 20px 0 ;
    color: #000000;
}
.testimonial .col-md-4{
    padding: 0 40px;
}
.footer{
    background-color: #282531;
    padding: 55px 0;
}
.footer p{
    color: #ffff;
    margin-top: 8px;
    line-height: 30px;
}

.footer .list-group{
    margin-bottom: 20px;
}
.footer .list-group .list-group-item {
    border: none;
    background-color: transparent;
}
.footer .list-group .list-group-item a{
    color: #CDCDCD;
    font-size: 18px;
    line-height: 30px;
}
.footer .list-group .list-group-item:first-child{
    font-weight: 700;
}
.footer .copyright{
    padding-top: 60px;
}
.footer .copyright p{
    text-align: center;
    color: #CDCDCD;
}






